@font-face {
    font-family: 'Gandom';
    src: url('../fonts/gandom-font/Gandom.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Global Colors */
$background-color : #ffffff;
$default-color: #3d4348;
$pasargad-color: #25283B;
$main-btn-color: #c1121f;
$main-color: #f96332;
$surface-color : #ffffff;
$contrast-color: #ffffff;


/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

* {
    font-family: 'Gandom';

}

.main-text-color {
    color: $main-color;
}

.main-bg-color {
    background-color: $main-color;
}

.main-btn-color {
    background-color: $main-btn-color !important;
}

.space {
    margin-top: 100px;
}

/* Global Footer */
.footer {
    background-color: $background-color;
    font-size: 14px;
    padding-bottom: 50px;
    position: relative;

    .social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 1px solid color-mix(in srgb, $default-color, transparent 50%);
        font-size: 16px;
        color: color-mix(in srgb, $default-color, transparent 30%);
        margin-right: 10px;
        transition: 0.3s;

        &:hover {
            color: $main-btn-color ;
            border-color: $main-btn-color;
        }
    }

    h4 {
        font-size: 16px;
        font-weight: bold;
        position: relative;
        padding-bottom: 12px;
    }
}

/*--------------------------------------------------------------
#navbar dropdown
/*--------------------------------------------------------------*/
.navbar {
    background-color: rgba(19, 18, 18, 0.361);
    z-index: 555;
}

.navbar-nav .dropdown-menu {
    background-color: rgba(19, 18, 18, 0.663);
}

.navbar-nav .dropdown-menu .dropdown-item:hover {
    background-color: black;
}



@media(max-width: 767px) {
    .navbar-nav .dropdown-menu .dropdown-item {
        // direction: ltr !important;
        text-align: end !important;
    }

    .navbar-nav .dropdown-menu {
        background-color: transparent;
    }
}

/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
    color: $default-color;
    background-color: $background-color;
    padding: 60px 0;
    scroll-margin-top: 100px;
    overflow: clip;
}

@media (max-width: 1199px) {

    section,
    .section {
        scroll-margin-top: 66px;
    }
}

/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;

    h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 50px;
            height: 3px;
            background: $main-color;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }

    p {
        margin-bottom: 0;
    }
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about {
    .content {
        h3 {
            font-size: 2rem;
            font-weight: 700;
        }

        ul {
            i {
                font-size: 1.25rem;
                margin-right: 4px;
                color: $main-color;
            }
        }
    }

    .about-images {
        img {
            border-radius: 10px;
        }
    }
}

/*--------------------------------------------------------------
# Features Details Section
--------------------------------------------------------------*/
.features-details {
    .features-item {
        .content {
            background-color: color-mix(in srgb, $main-color, transparent 95%);
            padding: 30px;
            border-radius: 10px;
        }

        h3 {
            font-weight: 700;
            font-size: 26px;
            margin-bottom: 15px;
        }

        .more-btn {
            background-color: $main-color;
            color: $contrast-color;
            padding: 6px 30px;
            border-radius: 6px;

            &:hover {
                background-color: color-mix(in srgb, $main-color, transparent 20%);
            }
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                padding-bottom: 10px;
                display: flex;
                align-items: center;

                &:last-child {
                    padding-bottom: 0;
                }

                i {
                    font-size: 20px;
                    margin-right: 10px;
                    color: $main-color;
                }
            }
        }

        img {
            border-radius: 15px;
        }
    }
}

/*--------------------------------------------------------------
# More Features Section
--------------------------------------------------------------*/
.more-features {
    .features-image {
        position: relative;
        min-height: 400px;

        img {
            position: absolute;
            inset: 0;
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
        }
    }

    h3 {
        font-size: 28px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .icon-box {
        margin-top: 30px;

        i {
            color: $main-color;
            margin-right: 15px;
            font-size: 24px;
            line-height: 1.2;
        }

        h4 {
            font-weight: 600;
            margin-bottom: 10px;
            font-size: 18px;
        }

        p {
            line-height: 24px;
            font-size: 14px;
            margin-bottom: 0;
        }
    }
}

/*--------------------------------------------------------------
# Contact Section
--------------------------------------------------------------*/
.contact {
    button {
        background-color: $main-color;
    }

    .info-item {
        background-color: $surface-color;
        padding: 20px 0 30px 0;
        box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);

        i {
            font-size: 20px;
            color: $main-color;
            width: 56px;
            height: 56px;
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            transition: all 0.3s ease-in-out;
            border-radius: 50%;
            border: 2px dotted color-mix(in srgb, $main-color, transparent 40%);
        }

        h3 {
            font-size: 20px;
            font-size: 18px;
            font-weight: 700;
            margin: 10px 0;
        }

        p {
            padding: 0;
            margin-bottom: 0;
            font-size: 14px;
        }


    }
}


//slider
.carousel {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: auto;

    .carousel-inner {
        border-radius: 15px;
        overflow: hidden;
        height: 100%;

        img {
            border-radius: 15px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .carousel-thumbnails {
        display: flex;
        justify-content: center;
        margin-top: 10px;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            margin: 0 5px;
            cursor: pointer;
            object-fit: cover;
            transition: transform 0.3s;

            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .carousel-item {
        background-color: #000;
        transition: opacity 0.5s ease-in-out;
        opacity: 0;

        &.active {
            opacity: 1;

            img {
                opacity: 1;
            }
        }

        img {
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }
    }
}




/* Services Section */
.service-item {
    border-radius: 10px;
    background-image: url(../images/2.jpg);
    background-blend-mode: multiply;
    background-size: cover;
}

.rounded-5 {
    border-radius: 5%;
}

//logo
.logo {
    width: 50px;
}

.slider_3D {
    background-image: url(../images/stone/background/4.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.slider_3D::before {
    position: absolute;
    transform: translateX(-50%);
    background-image: url(../images/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    pointer-events: none;

}

.banner {
    height: 100vh;
}


.banner .slider {
    width: 100px;
    height: 125px;
    top: 5%;
    left: calc(50% - 50px);
    transform-style: preserve-3d;
    transform: perspective(500px);
    animation: autoRun 20s linear infinite;
    z-index: 2;
}

@keyframes autoRun {
    from {
        transform: perspective(500px) rotateX(-16deg) rotateY(0deg);
    }

    to {
        transform: perspective(500px) rotateX(-16deg) rotateY(360deg);
    }
}

.banner .slider .item {
    position: absolute;
    inset: 0 0 0 0;
    transform:
        rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
}

.banner .slider .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner .content {
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: max-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.banner .content h1 {
    font-family: 'ICA Rubrik';
    font-size: 8em;
    line-height: 1em;
    color: #25283B;
    position: relative;
}

.banner .content h1::after {
    position: absolute;
    inset: 0 0 0 0;
    content: attr(data-content);
    z-index: 2;
    -webkit-text-stroke: 2px #d2d2d2;
    color: transparent;
}



.banner .content h2 {
    font-size: 3em;
}

.banner .content .model {
    background-image: url(../images/model.png);
    width: 100%;
    height: 85vh;
    position: absolute;
    bottom: 0;
    left: 0;
    background-size: auto 130%;
    background-repeat: no-repeat;
    background-position: top center;
    z-index: 1;
}

@media screen and (max-width: 1023px) {
    .banner .slider {
        width: 80px;
        height: 100px;
        left: calc(50% - 40px);
    }

    .banner .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
    }

    .banner .content h1 {
        text-align: center;
        width: 100%;
        text-shadow: 0 10px 20px #000;
        font-size: 7em;
    }

    .banner .content .author {
        color: #fff;
        text-shadow: 0 10px 20px #000;
        z-index: 2;

    }

}

@media screen and (max-width: 767px) {


    .banner .slider {
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }

    .banner .slider .item {
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
    }

    .banner .content h1 {
        font-size: 4em;
    }

    .banner .content {
        width: 100%;
    }

}

//sidebar
@media all and (min-width: 992px) {
    .sidebar .nav>li.active-pro {
        position: absolute;
        width: 100%;
        bottom: 10px;
        right: 10px;
    }
}